.App-header {
  background-color: #282c34;
  padding: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.App-logo {
  position: absolute;
  left: 15px;
  height: 80px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
}

/* Ensure the container is a flexbox */
.page-container {
  display: flex;
  flex-direction: column; 
  height: 100vh;          
  position: relative;
}

/* Styling for the map container */
.map-container {
  flex-grow: 1;
  border-right: 1px solid #ddd; /* Optional separator between map and chart */
  z-index: 0;                    /* Make sure map doesn't overlay the header */
}

/* Ensure header stays on top */
header {
  z-index: 10;            /* Keeps the header on top of other elements */
  position: relative;     /* Ensures header stays in place */
}


