.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-logo {
  height: 80px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
}

